---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

        <a href="/">Home</a>
        <a href="/about">About</a>
		<a href="/newsletter">Newsletter</a>

		<h1>Astro</h1>
		<p>This will be where I create markdown newsletters to show my latest updates and news.</p>

        <ul>
            <li><a href="/newsletter/issue-1">Issue 1</a></li>
            <li><a href="/newsletter/issue-2">Issue 2</a></li>
            <li><a href="/newsletter/issue-3">Issue 3</a></li>
        </ul>

	</body>
</html>
